@import url("../global-variables.css");

.leader-section {
  font-family: var(--font-family);
  padding: 48px 0px;
}
.leader-section .title {
  padding: 12px 128px;
  font-size: 32px;
  color: var(--neutral-100);
  text-align: center;
}

.leader-section .cards {
  margin-top: 48px;
  flex-direction: row;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 80px;
}
